
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="https://via.placeholder.com/300x100.png?text=LOGO"  height="30" alt="">
  </a>
  <div class="text-light"><img src="/assets/img/user.svg" width="30" height="30" alt="">  Administrador <img style="margin-left: 20px;  cursor: pointer; " height=30 (click)='this.logout()'src="/assets/img/salir.png"></div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <div class="text-primary"><img src='/assets/img/users.png' height="30"> Guests</div>
      </li>
    </ul>
  </div>
</nav>
